body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("images/table.png");
    background-position: center;
    background-size: cover;
    color: #FFF;
    text-align: center;
    font-weight: bold;
}

#blur.active {
    filter: blur(10px);
}

.wrapper {
    max-width: 748px;
    margin: 0 auto;
}

h1 {
    color: goldenrod;
}

#content {
    display: flex;
    justify-content: space-around;
}

#text-block {
    width: 300px;
}

#message-el {
    font-style: italic;
    padding: 2px 0px;
    height: 40px;
}

button {
    display: block;
    position: relative;
    font-weight: bold;
    color: #016f32;
    width: 150px;
    height: 30px;
    background-color: goldenrod;
    border: none;
    border-radius: 5px;
    margin: 10px auto;
}

button:enabled:active {
    top: 1px;
    background-color: beige;
}

button:hover {
    background-color: gold;
}

button:disabled {
    background-color: #FFFFFF70;
}

.cardblock {
    margin: 20px auto;
    min-width: 110px;
    max-width: fit-content;
    height: 160px;
    border: solid #00000051 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardimage {
    width: 100px;
    height: 145px;
    margin: 5px;
}

.resetbtn {
    margin-top: 30px;
    background-color: #ffffff70;
}
.resetbtn:hover {
    background-color: #FFF;
}

.busted {
    border: solid red 5px;
}

.blackjack {
    color: gold;
    border: solid gold 5px;
}

.resetBlackJack {
    background-color: #FFF;
}
.resetBlackJack:hover {
    background-color: #DDD;
}

.rules {
    font-size: 12px;
    font-style: italic;
    margin-top: 40px;
    padding: 0px 10px;
}

a {
    color: goldenrod;
}

#player-el {
    color: goldenrod;
    margin: 30px 0px;
}

#sexy {
    position: fixed;
    width: 150px;
    bottom: 0;
    right: 0;
}

#weird {
    position: fixed;
    width: 150px;
    left: 0;
    bottom: 0;
}

#player-info {
    background-color: #ffffff90;
    border-radius: 10px;
    position: fixed;
    width: 300px;
    height: 400px;
    top: 50px;
    left:50%;
    margin-left: -150px;
}

#player-info h2 {
    color: goldenrod;
}

#player-info p {
    margin: 10px 0px 40px 0px;
}

form label {
    line-height: 30px;
}

form input {
    margin-top: 0px;
}

.nothing {
    display: none;
}